@model List<Vehicle_Database_MVC.Models.Domain.VehicleModel>

@{
}

<h1>Vehicle Models</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>MakeId</th>
            <th>Vehicle Name</th>
            <th>Vehicle Abbreviation</th>
            <th> </th>
        </tr>

    </thead>
    <tbody>
        @foreach(var vehicle in Model)
        {
            <tr>
                <td> @vehicle.Id</td>
                <td> @vehicle.MakeId</td>
                <td> @vehicle.VehicleName</td>
                <td> @vehicle.VehicleAbrv</td>
                <td><a href="ViewVehicleModel/@vehicle.Id">View</a> </td>
            </tr>
        }
    </tbody>



</table>