@*@model Vehicle_Database_MVC.Models.AddVehicleMakeViewModel

@{
}
<h1>Add a vehicle</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Vehicle Name</label>
        <input type="text" class="form-control" asp-for="VehicleName">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Vehicle Abbreviation</label>
        <input type="text" class="form-control" asp-for="VehicleAbrv">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form> 

*@
@{

}

@model CombinedViewModel



<h1>Add a vehicle make</h1>
<form method="post" action="Add" class="mt-5">
        @foreach(var vehicle in Model.vehicleMakes){
            <div class="mb-3">
        <label for="" class="form-label">Vehicle Name</label>
        <input type="text" class="form-control" asp-for="@vehicle.VehicleName">
        </div>

    <div class="mb-3">
        <label for="" class="form-label">Vehicle Abbreviation</label>
        <input type="text" class="form-control" asp-for="@vehicle.VehicleAbrv">
    </div>
        }

</form> 
    <button type="submit" class="btn btn-primary">Submit</button>

<h1>Add a vehicle model</h1>
<form method="post" action="Add" class="mt-5">
    @foreach (var vehicle in Model.vehicleModels)
    {
                <div class="mb-3">
            <label for="" class="form-label">Vehicle Name</label>
            <input type="text" class="form-control" asp-for="@vehicle.VehicleName">
            </div>

        <div class="mb-3">
            <label for="" class="form-label">Vehicle Abbreviation</label>
            <input type="text" class="form-control" asp-for="@vehicle.VehicleAbrv">
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
</form> 
